{% extends "Layouts/Portal.twig" %}

{% block page_title %}
    &mdash; Home
{% endblock page_title %}

{% block content %}

    <main class="container">
        <h3>{{brand_name}} &mdash; Home</h3>
    </main>
    
{% endblock content %}
