
<footer class="footer">
    <div class="container">
        <span class="text-muted">
            <strong>Simple v0.1.0-dev</strong><br/>
            Desarrollado por <a href="#">Juan C. Luna H.</a> | &copy; 2018 - Todos los derechos reservados
        </span>
    </div>
</footer>
